@import "base";

@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
	color: #fff;
    background-color: #000;
}

a {
	color: #fff;
	font-weight: 600;
}

a:hover {
	color: #ccc;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Code Pro';
	text-shadow: 2px 2px #333;
}

#masthead { display: none; }

.site-header {
	background-color: rgba(255,255, 255, 0.70);
    padding: 15px 0 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    width: 100%;
	height: $header-height;
}

.site-title {
	font-family: 'VT323', sans-serif;
	font-size: 36px;
}

/*.main-content {
	padding-top: $header-height;
}*/

#application-canvas { 
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}

.jumbo-image {
	background-size: cover;
	color: #fff;
	text-shadow: 2px 2px #333;
	font-family: 'Source Code Pro';
	
	h1 { margin-top: 0; }
}

.full-height {
	min-height: 100vh;
	background-size: cover;
}

.vertical-center {
    display: flex;
    align-items: center;	
}

.ie-vcenter-fix {
	display: flex;
	flex-direction: column;
}

.jumbo-content {
	text-align: center;
	color: #fff;
	font-size: 42px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scroll-down-holder {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.scroll-down {
	font-size: 80px;
	cursor: pointer;
}

#reveal-modal-id {
    background-color: rgba(20, 20, 20, 0.9) !important;
}

dialog, .reveal-modal {
	box-shadow: 4px 4px 8px rgba(50, 50, 50, 0.7);
    border-radius: 4px;
	color: #fff;
	min-height: 90vh;
	margin-bottom: 100px;
	padding-top: 50px;
	
	.close-reveal-modal {
		top: 10px;
		right: 15px;
	}
	
	> h1:first-of-type {
		display: none;
	}
}


.portfolio-item {
	position: relative;
	margin-top: 40px;
	
	> a {
		display: block;
		color: #fff;
		
		> img {
			margin: 0;
			border-radius: 4px;
			box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.7);
		}
	}
	
	.header {
		position: absolute;
		bottom: 0; 
		left: 0;
		padding: 20px;
		background-color: rgba(50, 50, 50, 0.5);
		width: 100%
	}
}

.portfolio-container {
	img {
		border-radius: 4px;
		box-shadow: 2px 2px 4px rgba(20, 20, 20, 1);
	}
}

.tags {
	list-style-type: none;
	margin-top: 20px;
	
	ul {
		display: inline-block;
		background-color: #fff;
		padding: 0.2em 0.8em;
		border-radius: 12px;
		color: #000;
	}
}